* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    --twitter-color:#50b7f5;
    --twitter-background:#e6ecf0;
}
.sidebaroption {
    display:flex;
    align-items: center;
    cursor: pointer;
}
.sidebaroption .material-icons, .fa-twitter {
    padding:20px;
}
.sidebaroption h2{
    font-weight:800;
    font-size:20px;
    margin-right: 20px;
}
.sidebarOption-active .material-icons {
    display:flex;
    align-items: center;
}
.sidebaroption:hover {
    background-color:var(--twitter-background) ;
    border-radius: 30px;
    color:var(--twitter-color);
    transition: color 100ms ease-out;
}
.sidebaroption.active {
    color:var(--twitter-color);
}
.sidebar_tweet {
    width:100%;
    background-color: var(--twitter-color);
    border:none;
    color:white;
    font-weight: 900;
    border-radius: 30px;
    height:50px;
    margin-top:20px;
}
.sidebar_tweet:hover {
    color:var(--twitter-background);
    transition: ease-in-out;
}
body {
    display:flex;
    height:130px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding:0 10px;
}
.sidebar {
    border-right: 1px soid var(--twitter-background);
    flex:0.2;
    min-width: 250px;
    margin-top:20px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.fa-twitter {
    color:var(--twitter-color);
    font-size: 30px;
}
.feed {
    height:100vh;
    border-right:1px solid var(--twitter-background);
    overflow-y: scroll;
    min-width: fit-content;
    flex:0.5;
}
.feed-header {
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
    border:1px solid var(--twitter-background);

}
.feed-header h2 {
    font-size: 20px;
    font-weight: 800;
}
.feed::-webkit-scrollbar {
    display:none;
}
.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.tweetbox_input img {
    height:40px;
    border-radius:50%;
}
.tweetbox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;

}
.tweetbox form {
    display: flex;
    flex-direction: column;

}
.tweetbox_input {
    display: flex;
    padding:20px;
}
.tweetbox_input input {
    flex:1;
    margin-left: 20px;
    font-size: 20px;
    border:none;
    outline:none;
}
.tweetbox___tweetButton {
    background-color:var(--twitter-color);
    border:none;
    font-weight:900;
    border-radius:30px;
    width:80px;
    height:40px;
    margin-top:20px;
    margin-left:auto;
}
.post-avatar img {
    border-radius: 50%;
    height:40px;
}
.post {
    display:flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 30px;
}
.post-body img {
    width:450px;
    object-fit: contain;
    border-radius:20px;
}
.post-fotter {
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
}
.material-icons {
    font-size: 14px;
    color: var(--twitter-color);
    margin-right:5px;
}
.post__headerspecial {
    font-weight: 600;
    font: 12px;
    color:gray;
}
.post-header-text h3 {
    font-size: 15px;
    margin-bottom: 5px;
}
.post-header-description {
    margin:10px;
    font-size: 15px;
}
.post-body {
    flex:1;
    padding:10px; 
}
.post-avatar {
    padding:20px
}
.widgets {

    flex:0.3;
}
.widgets-input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding:10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.widgets-input input {
    border:none;
    background-color:var(--twitter-background);
    outline:none;

}
.widgets-container {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}
.widgets-container h2 {
    font-size: 18px;
    font-weight: 800;
}